* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

/* Nav section  */

nav {
  width: 1600px;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
}
.nav-elements {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#logo .bamboo {
  margin-right: -10px;
  z-index: 2;
}

#logo {
  border: 1px solid #ffffff;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
/* Nav section  */

main {
  width: 1600px;
  overflow: hidden;
}

header {
  width: 100%;
  height: 780px;
  background-image: url(../../assets/Giant\Panda.png);
}
#hero {
  background: #fe9013;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  float: right;
  margin-right: 270px;
}
.hero-text .main-button {
  width: 298px;
  height: 54px;
  background-color: #fe9013;
  color: #ffffff;
  border-radius: 25px;
  border: 0px;
  margin-top: 100px;
  text-transform: uppercase;
}
h1 {
  width: 500px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
h1 .yellow {
  color: #ffee2e;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 300px;
  margin-left: 100px;
}

/*behind*/
#behind {
  display: flex;
  flex-direction: row;
  width: 1600px;
  height: 403px;
  left: 920px;
  top: 220px;
  padding-left: 200px;
}

.old-man {
  margin: 50px;
}

.behind-text {
  margin: 50px;
  text-align: left;
  width: 50%;
}
.flower {
  margin-right: -300px;
}

/*Cards*/

#cards {
  display: flex;
  flex-direction: row;
  width: 70vw;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  justify-content: center;
  justify-self: center;
  margin: auto;
}
.card {
  margin-left: 50px;
  border: 1px solid #fe9013;
  border-radius: 1%;
  margin-top: 15px;
}

.card .rectangle {
  width: 265px;
  height: 266px;
}
.cardText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#cardsSection {
  align-items: center;
  align-items: center;
  width: 80%;
}
.main-button {
  width: 298px;
  height: 54px;
  background-color: #fe9013;
  color: #ffffff;
  border-radius: 25px;
  border: 0px;
  margin-top: 100px;
  text-transform: uppercase;
}
.arrow {
  background-color: #fe9013;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.arrows {
  width: 1500px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

/*pickandfeed*/

#pickandfeed {
  padding-top: 5%;
  padding-bottom: 5%;

  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}
#pickandfeed .innerBox {
  font-style: normal;
  text-align: center;
  padding: auto;
  height: 800px;
  background: rgba(253, 253, 255, 0.52);
  margin: 200px 70px 200px 70px;
  line-height: 120%;
}

#pickandfeed .innerBox {
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
}
.howtoCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.howtoCards .howtoCard {
  display: grid;
  align-content: center;
  justify-content: space-around;
  justify-items: start;
  margin: 20px;
}
.imageRect {
  background: #ffffff;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*testimonial */
.card-header {
  display: flex;
  flex-direction: row;
}

#testimonials .testimony {
  width: 12%;
  background: #f1f3f2;
  border-radius: 22px;
  border: rgba(243, 169, 248, 0.66) solid 2px;
}

#testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.testimonyCentered {
  position: flex;
  flex-direction: column;
  text-align: center;
}
