* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
h2 {
  font-weight: 100;
}
/* Nav section  */

nav {
  width: 1600px;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: left;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0;
}
.nav-elements {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -200px;
}
.logo .bamboo {
  margin-right: -10px;
  z-index: 2;
}

.logo {
  border: 1px solid #ffffff;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
/* Nav section  */

main {
  width: 1600px;
  overflow: hidden;
}

header {
  width: 100%;
  height: 780px;
  background-image: url(../../assets/GiantPanda.png);
}
#hero {
  background: #fe9013;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  float: right;
  margin-right: 270px;
}
.hero-text .main-button {
  width: 298px;
  height: 54px;
  background-color: #fe9013;
  color: #ffffff;
  border-radius: 25px;
  border: 0px;
  margin-top: 100px;
  text-transform: uppercase;
}
h1 {
  width: 500px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
h1 .yellow {
  color: #ffee2e;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 300px;
  margin-left: 100px;
}

/*behind*/
#behind {
  display: flex;
  flex-direction: row;
  width: 1600px;
  height: 403px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 200px;
  margin-bottom: 200px;
  color: rgba(51, 59, 65, 1);
}

.old-man {
  width: 609px;
  height: 403px;
  margin-left: 219px;
  margin-right: 20px;
}

.behind-text {
  text-align: left;
  width: 30%;
}
.flower {
  position: absolute;
  right: 0;
}
.behind-text h2 {
  font-family: 'Roboto', sans-serif;
  line-height: 57.6pxpx;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}
.behind-text h4 {
  font-family: 'Roboto', sans-serif;
  line-height: 37.6px;
  font-weight: 400;
  font-size: 18px;
  margin: 20px 0 20px 0;
}

.behind-text p {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

/*Cards*/
#testimpnySection button {
  margin-left: 200px;
  border-radius: 4px;
  font-weight: 200;
  line-height: 10px;
}
#cards {
  display: flex;
  flex-direction: row;
  width: 90vw;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  justify-content: center;
  justify-self: center;
  margin: auto;
  margin-bottom: 200px;
}
.card {
  border: 1px solid #fe9013;
  border-radius: 1%;
  margin-top: 15px;
  margin-right: 25px;
}

.card .rectangle {
  width: 365px;
  height: 366px;
}
.cardText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#cardsSection {
  align-items: center;
  align-items: center;
  width: 90%;
}
.main-button {
  width: 298px;
  height: 54px;
  background-color: #fe9013;
  color: #ffffff;
  border-radius: 25px;
  border: 0px;
  margin-top: 100px;
  text-transform: uppercase;
}
.arrow {
  background-color: #fe9013;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.arrows {
  width: 1500px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

/*pickandfeed*/

#pickandfeed {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 1600px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}
#pickandfeed .innerBox {
  font-style: normal;
  text-align: center;
  padding: auto;
  height: 800px;
  background: rgba(253, 253, 255, 0.52);
  margin: 100px 70px 100px 70px;
  line-height: 120%;
  text-align: center;
  padding-top: 50px;
}
#pickandfeed .innerBox h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120px;
  color: #fe9013;
}

#pickandfeed .innerBox .bigP {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 200%;
}
#pickandfeed .innerBox {
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  height: 900px;
}
#howit h2 {
  margin-top: 100px;
}
.howtoCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.howtoCards .howtoCard {
  display: grid;
  align-content: center;
  justify-content: space-around;
  justify-items: start;
  margin: 20px;
}
.howtoCard p {
  width: 80%;
  line-height: normal;
  text-align: left;
}
.imageRect {
  background: #ffffff;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageRect .bananas {
  width: 50px;
  margin-bottom: -30px;
}

/*testimonial */
.card-header {
  display: flex;
  flex-direction: row;
}

#testimonials .testimony {
  width: 268px;
  height: 390px;
  background: #f1f3f2;
  border-radius: 13px;
  border: 1px solid pink;
  margin: 20px;
  padding: 5px;
}

#testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.testimonyCentered {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.testimonyCentered h2 {
  margin-top: 150px;
  margin-bottom: -50px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 56px;
  line-height: 130%;
}
#progressbar {
  height: 10px;
  width: 40%;
  margin-top: 100px;
  background-color: gainsboro;
  border-radius: 5px;
  border: 1px solid pink;
}
#progressbar .fill {
  height: 8px;
  width: 30%;
  background-color: #fe9013;
  border-radius: 5px;
}
/*footer */

footer {
  width: 1600px;
  height: 600px;
  background: rgba(17, 17, 21, 1);
  margin-top: 200px;
  color: #eaf7fe;
}
footer button {
  margin-left: 200px;
  margin-bottom: 50px;
}

footer .logo {
  width: 83px;
  height: 52px;
  padding: 0;
  color: #e0d8f0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 200px 40px 200px;
}

#email {
  width: 228px;
  height: 42px;
  background-color: #000000;
  border: #fe9013 1px solid;
  border-radius: 6px;
  margin-top: 20px;
}

footer form button {
  width: 129px;
  height: 42px;
  border-radius: 5px;
  color: rgba(75, 146, 0, 1);
  margin-left: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: grey;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto';
  font-weight: 200;
  background-color: #000000;
  padding-left: 10px;
}
.iconPair {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
footer .social-media {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

footer #social {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

footer #bottomFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.main-button:hover {
  background-color: yellow;
}

a:hover {
  text-decoration: underline coral;
  color: #febdab;
}

.card:hover {
  background-color: grey;
}
